if SHIELD_SCYLLA_MK2_LEFT

config ZMK_KEYBOARD_NAME
    default "scylla_mk2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SCYLLA_MK2_LEFT || SHIELD_SCYLLA_MK2_RIGHT

    config ZMK_SPLIT
        default y

endif