/*
 * Copyright (c) 2020 The ZMK Contributors
 * Scylla MK2
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define NUM 2

/ {
    combos {
        compatible = "zmk,combos";

        // Thumb combos

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <49 48>;
        };

        combo_space {
            bindings = <&kp SPACE>;
            key-positions = <50 49>;
        };

        combo_del {
            bindings = <&kp DELETE>;
            key-positions = <48 49 50>;
        };

        // Brackets - Ngoặc vuông []

        combo_lbkt {
            bindings = <&kp LBKT>;
            key-positions = <19 31>;
            layers = <0 1>;
        };

        combo_rbkt {
            bindings = <&kp RBKT>;
            key-positions = <20 32>;
            layers = <0 1>;
        };

        // Braces - Ngoặc nhọn {}

        combo_lbrc {
            bindings = <&kp LBRC>;
            key-positions = <20 31>;
            layers = <0 1>;
        };

        combo_rbrc {
            bindings = <&kp RBRC>;
            key-positions = <32 21>;
            layers = <0 1>;
        };

        // Parentheses - Ngoặc tròn ()

        combo_lpar {
            bindings = <&kp LPAR>;
            key-positions = <32 43>;
            layers = <0 1>;
        };

        combo_rpar {
            bindings = <&kp RPAR>;
            key-positions = <33 44>;
            layers = <0 1>;
        };

        // Special chars

        combo_grave {
            bindings = <&kp GRAVE>;
            key-positions = <13 25>;
            layers = <0 1>;
        };

        combo_tilde {
            bindings = <&kp TILDE>;
            key-positions = <18 19>;
            layers = <0 1>;
        };

        combo_plus {
            bindings = <&kp PLUS>;
            key-positions = <20 19>;
            layers = <0 1>;
        };

        combo_minus {
            bindings = <&kp MINUS>;
            key-positions = <31 32>;
            layers = <0 1>;
        };

        combo_under {
            bindings = <&kp UNDER>;
            key-positions = <44 43>;
            layers = <0 1>;
        };

        combo_equal {
            bindings = <&kp EQUAL>;
            key-positions = <32 33>;
            layers = <0 1>;
        };

        combo_excl {
            bindings = <&kp EXCL>;
            key-positions = <29 17>;
        };

        combo_pipe {
            bindings = <&kp PIPE>;
            key-positions = <16 28>;
        };

        combo_dllr {
            bindings = <&kp DLLR>;
            key-positions = <15 28>;
        };

        combo_prcnt {
            bindings = <&kp PRCNT>;
            key-positions = <16 27>;
        };

        combo_star {
            bindings = <&kp STAR>;
            key-positions = <16 15>;
        };

        combo_amps {
            bindings = <&kp AMPS>;
            key-positions = <28 27>;
        };

        combo_hash {
            bindings = <&kp HASH>;
            key-positions = <17 28>;
        };

        combo_bslh {
            bindings = <&kp BSLH>;
            key-positions = <16 29>;
        };

        combo_caret {
            bindings = <&kp CARET>;
            key-positions = <16 17>;
        };

        combo_at {
            bindings = <&kp AT>;
            key-positions = <29 28>;
        };

        // Word navigation - Windows (Layer 0)

        combo_wbksp {
            bindings = <&kp LC(BSPC)>;
            key-positions = <55 22>;
            layers = <0>;
        };

        combo_wleft {
            bindings = <&kp LC(LEFT)>;
            key-positions = <55 31>;
            layers = <0>;
        };

        combo_wdown {
            bindings = <&kp LC(DOWN)>;
            key-positions = <55 32>;
            layers = <0>;
        };

        combo_wright {
            bindings = <&kp LC(RIGHT)>;
            key-positions = <55 33>;
            layers = <0>;
        };

        combo_wup {
            bindings = <&kp LC(UP)>;
            key-positions = <55 20>;
            layers = <0>;
        };

        // Word navigation - Mac (Layer 1)

        combo_wbksp_mac {
            bindings = <&kp LA(BSPC)>;
            key-positions = <55 22>;
            layers = <1>;
        };

        combo_wleft_mac {
            bindings = <&kp LA(LEFT)>;
            key-positions = <55 31>;
            layers = <1>;
        };

        combo_wdown_mac {
            bindings = <&kp LA(DOWN)>;
            key-positions = <55 32>;
            layers = <1>;
        };

        combo_wup_mac {
            bindings = <&kp LA(UP)>;
            key-positions = <55 20>;
            layers = <1>;
        };

        // Arrow keys

        combo_left {
            bindings = <&kp LEFT>;
            key-positions = <56 31>;
        };

        combo_right {
            bindings = <&kp RIGHT>;
            key-positions = <56 33>;
        };

        combo_up {
            bindings = <&kp UP>;
            key-positions = <56 20>;
        };

        combo_down {
            bindings = <&kp DOWN>;
            key-positions = <56 32>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <25 26>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <13 14>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <21 22>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <33 34>;
        };

        combo_wright_mac {
            bindings = <&kp LA(RIGHT)>;
            key-positions = <55 33>;
            layers = <1>;
        };

        combo_sqt {
            bindings = <&kp SQT>;
            key-positions = <18 30>;
        };

        combo_dbsql {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <19 30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Thumb: 3 phim vong tren  |  2 phim moi hang duoi
        // trai  = cols 1,2,3 (48,49,50) | cols 4,5 (51,52)
        // phai  = cols 6,7 (53,54)      | cols 8,9,10 (55,56,57)

        scylla_mk2_layer {
            label = "Scylla";
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                        &kp N6       &kp N7     &kp N8     &kp N9   &kp N0    &kp BSPC
&kp TAB     &kp Q   &kp W   &kp E     &kp R     &kp T                         &kp Y        &kp U      &kp I      &kp O    &kp P     &kp BSLH
&kp LCTRL   &kp A   &kp S   &kp D     &kp F     &kp G                         &kp H        &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT   &kp Z   &kp X   &kp C     &kp V     &kp B                         &kp N        &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
        &kp LALT  &kp LGUI  &kp LCTRL      &kp SPACE  &kp TAB               &kp BSPC  &kp DEL       &lt 2 SPACE  &kp ENTER  &kp ESC
            >;
        };

        mac_layer {
            label = "Scylla_";
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                        &kp N6       &kp N7     &kp N8     &kp N9   &kp N0    &kp BSPC
&kp TAB     &kp Q   &kp W   &kp E     &kp R     &kp T                         &kp Y        &kp U      &kp I      &kp O    &kp P     &kp BSLH
&kp LCTRL   &kp A   &kp S   &kp D     &kp F     &kp G                         &kp H        &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT   &kp Z   &kp X   &kp C     &kp V     &kp B                         &kp N        &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
        &kp LCTRL  &kp LALT  &kp LGUI      &kp SPACE  &kp TAB               &kp BSPC  &kp DEL       &lt 2 SPACE  &kp ENTER  &kp ESC
            >;
        };

        number_layer {
            label = "Number";
            bindings = <
&to 0         &kp F1        &kp F2          &kp F3        &kp F4      &kp F5           &kp F6     &kp F7        &kp F8        &kp F9        &kp F10   &kp F11
&to 1         &studio_unlock  &trans        &trans        &trans      &trans           &trans     &kp N7        &kp N8        &kp N9        &kp MINUS &kp F12
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_CLR  &trans           &trans     &kp N4        &kp N5        &kp N6        &kp PLUS  &kp EQUAL
&trans        &trans        &trans          &trans        &trans      &trans           &trans     &kp N1        &kp N2        &kp N3        &kp STAR  &trans
        &trans  &trans  &trans              &trans  &trans                   &trans  &trans        &trans  &kp N0  &kp DOT
            >;
        };
    };
};
